.header-form {
  margin-bottom: 30px;

  color: #212121;

  font-family: $mainfont;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  line-height: 100%;
  letter-spacing: 3%;
}

textarea {
  resize: none;
}
